.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-Form {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  font-size: 12px;
  margin-top: 6px;
}

.links {
  text-align: left;
}

.links li > code {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background-color: lightgray;
  font-size: 12px;
  margin-top: 10px;
}

.Watcher-container {
  width: 100vw;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
